################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
parts = part
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
versions = versions
[versions]
[part]
recipe = minitage.recipe:fetch
url = file://${buildout:directory}/bin/tomcat-6.20.tar.bz2||7cbdcc7153c1b1d110151e5f94813570
unpack=True


